@use '../variables' as *;


.grid-modal-window1 {
  .modal {  
    background: #fff;
    color: #222;
    border: 0;
    border-radius: 0.25rem;

    padding: 0;
  }

  .modal-content {
    padding: 1rem;
  }
  
  .modal::backdrop {
    background: rgb(0 0 0 / 0.5);
    opacity: 0;
  }
  
  .modal[open] {
    animation: slide-up 1000ms forwards, fade-in 500ms forwards;
  }
  .modal[open]::backdrop {
    animation: fade-in 500ms forwards;
  }
  
  .modal[closing] {
    display: block;
    pointer-events: none;
    inset: 0;
    animation: fade-out 500ms forwards;
  }
  
  .modal[closing]::backdrop {
    animation: fade-out 500ms forwards;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  /* extra styling */
  
  .modal {
    max-width: 50ch;
  }
   
  h1 {
    text-underline-offset: 0.25em;
    padding: 1rem;
  }
  
  h2 {
    color: rgb(56, 204, 204);
  }
  
  .button {
    border: 0;
    cursor: pointer;
    background: rgb(214, 214, 214);
    color: rgb(97, 97, 97);
    font-weight: 700;
    padding: 1em 3em;
  }

  .button:hover,
  .button:focus {
    background: rgb(56, 204, 204);
  }
  
}

