// breakpoints
$media-md: 550px;
$media-lg: 750px;
$media-xl: 1030px;
$media-xxl: 1550px;

$clr-primary: hsl(233, 26%, 24%);
$clr-accent: hsl(136, 65%, 51%);
$clr-accent-2: hsl(192, 70%, 51%);
$clr-hover: #2ec59b;

$clr-bg-dark: hsl(233, 8%, 62%);
$clr-bg-light: hsl(220, 16%, 96%);
$clr-bg-light-2: hsl(0, 0%, 98%);
$clr-white: hsl(0, 0%, 100%);

$fs-300: 1rem;
$fs-400: 1.125rem;
$fs-700: 3rem;
$ff-primary: 'Public Sans', sans-serif;

// - Weights: 300, 400, 700

