@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  color: rgb(245, 245, 245);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  outline: 1px white solid;
}
