body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 18px;
  padding: 1rem;
  margin: 20vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

@media (max-width: 350px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 350px) {
  .container {
    width: 290px;
  } 
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.container img {
  border-radius: 12px;
  width: 100%;
}

.container h2 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 22px;
}

.container p {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-size: 15px;
}

.textbox {
  padding: 0 15px;
}
